

 <main class="container">
  <h1> Johannes Vermeer, Girl with a Pearl Earring, 1664  </h1>

  <h4> A Dutch tronie  </h4>

  <div class="row justify-content-around mt-5">
   
   <img src="https://cdn.europosters.eu/image/750/jan-vermeer-girl-with-a-pearl-earring-i96614.jpg"
    alt="Vermeer, Girl with Pearl Earrings">
  </div>
 </main>


