<main class="container">
 <h1> Johannes Vermeer, The Milkmaid, 1664 </h1>

 <h4>  </h4>

 <div class="row justify-content-around mt-5">
  <img src="https://imgc.artprintimages.com/img/print/the-milkmaid_u-l-pnsah10.jpg?h=550&p=0&w=550&background=fbfbfb"
   alt="Vermeer, The Milkmaid">

 </div>
</main>