    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>    -->
<!-- Footer -->
<footer class="bg-light text-center text-black mt-5"
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">

        <!-- Twitter -->
        <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/katkava1" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/katkava" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
    <!-- Copyright -->
    <div class="text-center p-3">
      © 2021 Design and Created by
      <a class="text-dark" href="https://katkav.net">Kat Kavaliova</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</body>
</html>