<%- include('partials/header') -%>

 <main>
     <section class="community-page">
        <h1>Share your fan art with others!</h1>
        <div class="background-image">
        <div class="row d-flex  justify-content-around" style="padding-top: 490px">
            
            <a href="/login" class=" btn btn-secondary  col-3 "> Login</a>
    
            <a href="/signup" class=" btn btn-secondary  col-3"> Signup</a>
            </div>
        </div>
    </div>
    </section>
 </main>


 <%- include('partials/footer') -%>