<%- include('partials/header') -%>

 <main>
     <section class="community-page">
        <h1>Share your fan art with others!</h1>
        <div class="background-image">
        <div class="row justify-content-around mt-5">
            <a href="/login" class="col-3 btn btn-primary"> Login</a>
            <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
        </div>
    </div>
    </section>
 </main>


 <%- include('partials/footer') -%>