<%- include('partials/header') -%>

 <main>
     <section class="community-page">
         
        <div class="community-background-image">
            <div class="row d-flex  justify-content-center">
                <h1 class="mt-5 ml-5 mr-5 text-center">Share your fan art with others!  </h1>
            </div>
        <div class="row d-flex  justify-content-around community-buttons" >
            
            <a href="/login" class=" btn btn-secondary  col-4 "> Login</a>
    
            <a href="/signup" class=" btn btn-secondary  col-4"> Signup</a>
            </div>
        </div>
    </div>
    </section>
 </main>


 <%- include('partials/footer') -%>