<%- include('partials/header') -%>

 <main class="container">
  <h1>Enter 3D immersive experience with Animal Crossing </h1>
  <div class="row justify-content-around mt-5">
   <iframe src="https://hubs.mozilla.com/trGEeGs?embed_token=032e52749d675ce880f4a038330e444c" style="width: 1024px; height: 768px;" allow="microphone; camera; vr; speaker;"></iframe>
   <h4> If you don't see the room loading above, we got you! Try clicking this button </h4>
   <a href="https://hub.link/trGEeGs" class="col-3 btn btn-primary">LET ME IN</a>
  </div>
 </main>


 <%- include('partials/footer') -%>