<%- include('partials/header') -%>

 <main>
    <section class="gallery-3d ">

       <div class="gallery-background d-flex align-content-center flex-wrap container-fluid p-md-5">
          <div class="row d-flex">
         <div class=" col align-self-center text-center space-between">
           
            <h1 class="text-center">Enter a 3D immersive experience with Animal Crossing </h1>

            <p class="text-center mt-5"> Explore famous art pieces in a virtual environment with the ability to meet others and explore the space together. </p> 

            <a href="https://hub.link/trGEeGs" target="_blank"class=" btn btn-primary mt-5">LET ME IN</a>
        </div>
        </div> 
    </section>
 </main>


 <%- include('partials/footer') -%>