<%- include('partials/header') -%>

 <main>
    <section class="gallery-3d ">
       <div class="gallery-background d-flex align-content-center flex-wrap container-fluid p-5">
         <div class=" row d-flex align-content-center">
            <h1 class="text-center">Enter a 3D immersive experience with Animal Crossing </h1>
        </div> 
  
  
    <!-- <div class="row d-flex justify-content-center holds-the-iframe">
       <iframe src="https://hubs.mozilla.com/trGEeGs?embed_token=032e52749d675ce880f4a038330e444c" style="width: 700px; height: 420px; border-style: none" allow="microphone; camera; vr; speaker;" class="d-none d-sm-block"></iframe>
       <img src="images/blathers.gif" class="d-block d-sm-none" />
    </div> -->
    <div class="row d-flex justify-content-center text-center">
   <p class=" "> Explore famous art pieces in a virtual environment with the ability to meet others and chat in real-time VR </p>
    </div>
    <div class="row d-flex justify-content-center m-5">
   <a href="https://hub.link/trGEeGs" class=" btn btn-primary">LET ME IN</a>
  </div>
</div>
    </section>
 </main>


 <%- include('partials/footer') -%>