<%- include('partials/header') -%>

 <main>
    <section class="gallery-3d ">

       <div class="gallery-background d-flex align-items-center flex-wrap container-fluid p-sm-5">
          <div class="row d-flex">
         <div class="gallery-content col  text-center ">

            <p> Explore famous art pieces in a virtual 3D environment. Come see ACNH paintings from an immersive environment. </p> 

            <a href="https://hub.link/trGEeGs" target="_blank" class="btn btn-primary  ">LET ME IN</a>
        </div>
        </div> 
    </section>
 </main>


 <%- include('partials/footer') -%>