<%- include('partials/header') -%>

 <main class="container">
  <h1>PLAY NOW, spot the fake!</h1>
  <div class="row justify-content-around mt-5">
   <h3>Is this painting fake? </h3>
   <button >This is fake</button>
   <button >This is real</button>
   <h4>??</h4>
   

  </div>
 </main>


 <%- include('partials/footer') -%>