<%- include('partials/header') -%>

 
  
<main>
  <div class="container">
   <div class="row justify-content-center mt-5">
    <ul class="row list-unstyled">
     <% for(var i=0; i<paintings.length; i++) {%>
      <li class="col-6 justify-content-between mt-5">
    
       <a> <img class="img-fluid" id="realPainting" src="<%= paintings[i].image%>" >
        </a>
       <a> <img class="img-fluid" id="fakePainting" src="<%= paintings[i].fakeImage%>" > </a>
      </li>
      <% } %>
    </ul>
    <button> press me </button> 
   </div>
  </div>
 
 <script type="text/javascript" src="js/main.js"></script>
 </main> 
 <%- include('partials/footer') -%>