<%- include('partials/header') -%>
  
<main>
  <div class="container">
    <div id="question-container" class="hide">
   <div id="answer-buttons"class="row justify-content-center mt-5">
    <ul class="row list-unstyled">
      <div id="bothPainting">
     <div id="painting1"> </div> 
     <div id="painting2"> </div>
      </div>
     <h3></h3>
     <h4></h4>
    </ul>
    </div>
  </div>
    <div class="controls">
      <button id="start-btn" class="start-btn btn">Start</button>
    <button id="next-btn" class="next-btn btn hide">Next</button> 
    <a id="restart-btn" class="restart-btn btn hide" href="/game">Play again!</a>
      <!-- add ejs to reload the page here in the button tag, on button click change variables-->
    </div>
</div> 
 
<script>  
const paintings = <%- JSON.stringify(paintings)%>
//  <script type="text/javascript" src="js/main.js"> 
  
    const startButton = document.getElementById('start-btn')
    const nextButton = document.getElementById('next-btn')
    const questionContainerElement = document.getElementById("question-container")
    let score = 0 
    let questionNumber = 0
    var previousPainting = [6, 6, 6, 6]

    startButton.addEventListener("click", startGame)
    nextButton.addEventListener("click", checkIfGameComplete) 
    document.addEventListener('click', checkPainting)
  
  
 function randomIndex() {
  // let randomIndex = painting.map(x => { return { paintings: x, srt: Math.random() } }).sort((a, b) => { return a.srt - b.srt }).map(x => x.paintings);
     let randomNum = Math.floor(Math.random()*2)  
     let randomIndex = Math.floor(Math.random() * paintings.length);

     while(previousPainting.includes(randomIndex)){
       randomIndex = Math.floor(Math.random() * paintings.length);
     }
       previousPainting[questionNumber] = randomIndex
     
    //  let randomIndex = sort(() => Math.random() - .5)

    if(randomNum == 1) {
    let paintSource = paintings[randomIndex].image;
    let fakeSource = paintings[randomIndex].fakeImage;
   fakeDescription = paintings[randomIndex].fakeDescription;
    
   painting1 = '<img class="img-fluid" src="' + paintSource + '">';
   painting2 = '<img class="img-fluid" src="' + fakeSource + '">';
    
    $('#painting1').append('<div id = "real">' + painting1 + '</div>')
    $('#painting2').append('<div id = "fake">' + painting2 + '</div>')  
     } else {
        let fakeSource = paintings[randomIndex].image;
        let paintSource = paintings[randomIndex].fakeImage;
      fakeDescription = paintings[randomIndex].fakeDescription;

      painting1 = '<img class="img-fluid" src="' + paintSource + '">';
      painting2 = '<img class="img-fluid" src="' + fakeSource + '">';

      $('#painting1').append('<div id = "fake">' + painting1 + '</div>')
      $('#painting2').append('<div id = "real">' + painting2 + '</div>')
     } 
    }  
     
     //create 1 variable, randomises between 1 and 0, if it equals 1 do it this way, if it's 0, do it the other way. 

  function startGame() {
    startButton.classList.add('hide')
    questionContainerElement.classList.remove('hide')
    nextButton.classList.remove('hide')
    console.log(paintings)
    randomIndex() 
    checkPainting(event) 
  }

  

  function checkPainting(event) { 
      
      if (event.target.id == "real" || event.target.closest('#real')) {
        score++
        $('h3').html(`Yay, this is the real deal! ${fakeDescription}. Your score ${score}`)
        
      }else if(event.target.id == "fake" || event.target.closest('#fake')){
        $('h3').html(`Oh no, Redd's got you! ${fakeDescription}. Your score ${score}`)
      }  
    } 

    function checkIfGameComplete() {
      console.log(questionNumber)
      if(questionNumber < 3 ) {
        nextPaintings()
      }else{
        endGame()
      }
    } 

  function nextPaintings() {
    questionNumber++
      $('#painting1').empty(painting1)
      $('#painting2').empty(painting2)
      $('h3').empty(fakeDescription)
      randomIndex()
    }  

   function endGame() {
     $('#painting1').empty(painting1)
     $('#painting2').empty(painting2)
     $('h3').empty(fakeDescription)
     $('h4').html(`Congrats on finishing the game, you got ${score}/4 correct`) 
     $('#restart-btn').removeClass('hide')
     $('#next-btn').addClass('hide')
   }

    
 
  // make array, records each try that takes in what has been returned, if it's in array, run random again,  
    // client side tables to keep track 
    //conclusion page. 
  
  

</script>
 </main> 
 <%- include('partials/footer') -%>