<%- include('partials/header') -%>

<section class="welcome p-5 pr-sm-0">
    <div class="bg-welcome">
     <div class="row d-sm-flex">
     <div class="col-sm-2 align-self-start text-wrap">
        <h1>Hey there!</h1>
    </div> 
    <div class="align-self-center col-sm-6 ">
        <p class="text-justify-sm"> Welcome to <span class="textHighlight">Animal Crossing Art</span>! Here you can explore the artistic side of your favourite game. Learn real art history about the paintings in New Horizons, plays games to see if you can spot the fakes sold by Redd, and join our community to show off your own creations! </p>
    </div> 
     <div class="tom col-sm-4">    
        <img class="img-fluid d-none d-sm-block float-right" src="images/tomnook-rotate-5.png" alt="Tom Nook"/>
         <img class="d-sm-none d-block col-sm-5 mx-auto w-50" src="images/tomnook.png"/>
         <!-- Image to show on extra small screen (mobile portrait) -->
    </div>
    </div> 
    </div> 
     </section>


     <section class="gameWelcome-section">
    <div class="container-fluid p-5">
    <div class="row d-sm-flex">
    <div class="redd col-sm-4 col-md-3"> 
        <h3 class="text-center d-sm-none"> Can you beat Redd and spot the fake art? </h3>   
        <img class="img-fluid  d-none d-sm-block center-block" src="images/redd-large.png" alt="Redd the Art Dealer"/>
        <img class="mx-auto d-sm-none d-block w-50" src="images/redd-large.png"/>
    </div>
    
    <div class="col-sm-6 col-md-3   align-self-center text-center"> 
     <h2>SPOT THE FAKE</h2> 
     <a href="/game" class=" btn btn-primary">Play Now!</a>
     </div> 
     <div class="col-sm-5 align-self-center d-none d-md-block text-center ">
     <h3> Can you beat Redd and spot the fake art? </h3> 
     <p> Test your detective skills and compete against Redd to find the fake painting and gather skills to buy real art in New Horizons! </p> 
    </div>
    </div>
    </div>
</section>
    

<section class="gallery3d-section p-5">
    <div class= "container-fluid p-5">
    <div class="row d-sm-flex">
        <div class="col-md-4  text-block"> 
            <div class='row mb-5'>
            <h2>Visit our 3D Gallery! </h2> 
            </div>
            <div class='row mb-5'>
            <p class="align-self-center text-justify"> Come say “Hi” to Blathers and  explore all the paintings and sculptures in New Horizons from a new perspective!  </p> 
            </div>
            <div class='row mb-5 float-right'>
            <a href="/gallery3d" class="btn btn-secondary"> Visit Gallery</a>
        </div>
           </div>
    <div class="blathers col-md-5 align-self-center offset-lg-3 offset-md-2"> 
        <img class="img-fluid d-none d-md-block  float-right" src="images/blathers-flipped.png" alt="Blathers"/>
    </div>
    <div class="blathers"> 
         <img class="d-md-none col-8 col-md-6 float-left" src="images/blathers.png"/>   
    </div>
    </div>
    </div>
</section>

<section class="learn-section">
    <div class= "container-fluid p-5">
        <div class="row d-md-flex">
        <div class="vermeergif col-md-5 align-self-center"> 
            <img class="mx-auto d-none img-fluid d-md-block" src="images/vermeergif.gif" alt="Moving image of Girl with a Pearl Earring, Johanesse Vermeer, 1665"/>
             
            </div>
        
            <div class="col-md-5 align-self-center offset-lg-2 offset-md-1"> 
                <figure class="text-center">
                <div class='mb-5 col-12 '>
                <h2>Learn about the Art</h2> 
                </div>
                <div class="vermeergif"  alt="Moving image of Girl with a Pearl Earring, Johanesse Vermeer, 1665"> 
                <img class="img-fluid mx-auto d-md-none" src="images/vermeergif.gif"/>  
                </div>
                <div class='mb-5 col-12 mt-5'>
                <p> Learn the names of the artists behind the world’s most famous masterpieces and find out some cool art history facts.  </p> 
                </div>
                <div class='mb-5' >
                <a href="/learn" class=" btn btn-primary"> Find out more!</a>
            </figure>
            </div>
         </div>
        </div>
        </div>
    </section>

    <section class="community-section p-5">
        <div class="container-fluid p-5 ">
            <div class="row ">
                <div class="d-sm-none row mb-5"> 
                    
                    <h2> Show off your own art! </h2> 
                    </div>
                <div class="align-self-center col-5">
                 
                    <div class="row ">  
                        <div class=" d-none d-sm-block row mb-5 "> 
                    
                            <h2> Show off your own art! </h2> 
                            </div>               
                    
                        <div class='row mb-5'>
                    <p> If you have some of your own Animal Crossing art, or simply want to sneak a peak at what others have created, join our community! </p> 
                    </div>
                    <div class='row mb-5 d-none d-sm-block'>
                    <a href="/community" class=" btn btn-secondary">Join in</a>
                </div>
            </div>
            </div>  
           
            <div class="community-img col col-md-5  offset-sm-1 offset-md-2"> 
                <img class="img-fluid d-block img-fluid  float-right" src="images/artworks-community.png"/>   
           </div>
        </div>
        </div>
        <!-- <div class="community-img-sm col-sm-5 align-self-center "> 
            <img class="img-fluid  d-none d-sm-block float-right" src="images/artworks-community.png" alt="Fan art"/>
        </div> -->
             <div class='d-sm-none'>
                <a href="/community" class=" btn btn-secondary">Join in</a>
            </div>
            </div>
            </div>
        </section>
    

<%- include('partials/footer') -%>