<%- include('partials/header') -%>

    <div class="welcome container-fluid bg-welcome">
     <div class="row d-sm-flex">
     <div class="col-sm-2  align-self-start">
        <h1 >Hey there!</h1>
    </div> 
    <div class="col-sm-6 align-self-center">
        <p> Welcome to <span class="textHighlight">Animal Crossing Art</span>! Here you can explore the artistic side of your favourite game. Learn real art history about the paintings in New Horizons, plays games to see if you can spot the fakes sold by Redd, and join our community to show off your own creations! </p>
    </div> 
     <div class="tom col-sm-4">    
        <img class="img-fluid d-none d-sm-block float-right" src="images/tomnook-rotate-5.png" alt="Tom Nook"/>
         <img class="d-sm-none float-right w-50" src="images/tomnook.png"><!-- Image to show on extra small screen (mobile portrait) -->
    </div>
    </div> 
    </div> 
     
    <div class=
"container-fluid gameWelcome-section">
    <div class="row d-sm-flex">
    <div class="redd col-sm-4 ">    
        <img class="img-fluid center-block" src="images/redd-large.png" alt="Redd the Art Dealer"/>
         <!-- <img class="d-sm-none float-right w-50" src="images/tomnook.png">Image to show on extra small screen (mobile portrait) -->
    </div>
    <div class="col-sm-3 align-self-center text-center"> 
     <h2>SPOT THE FAKE</h2> 
     <a href="/game" class="col-6 btn btn-primary btn-white text-center">Play</a>
     </div> 
     <div class="col-sm-5">
     <h3> Can you beat Redd and spot the fake art? </h3> 
     <p> Test your detective skills and compete against Redd to find the fake painting and gather skills to buy real art in New Horizons! </p> 
    </div>
    </div>
    </div>
    <!-- <div class="gallery3d">
        <a href="/gallery3d" class="col-3 btn btn-primary"> Visit Gallery</a>
    </div>
    <div class="row justify-content-around mt-5">
    <div class="learn">
        <a href="/learn" class="col-3 btn btn-primary"> Learn about the art history</a>
    </div>
    <div class="community">
        <a href="/community" class="col-3 btn btn-primary"> Join the Community</a>
    </div> -->
    

<%- include('partials/footer') -%>