<%- include('partials/header') -%>


    <h1>Welcome to Animal Crossing Art</h1>
    <div>
    <!-- <div class="row justify-content-around mt-5"> -->
        <a href="/game" class="col-3 btn btn-primary"> Play Spot the fake</a>
    </div>
   <div>
        <a href="/gallery3d" class="col-3 btn btn-primary"> Visit Gallery</a>
    </div>
    <!-- <div class="row justify-content-around mt-5"> -->
    <div>
        <a href="/learn" class="col-3 btn btn-primary"> Learn about the art history</a>
    </div>
    <div>
        <a href="/community" class="col-3 btn btn-primary"> Join the Community</a>
    </div>
    

<%- include('partials/footer') -%>